adfv2zepite/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfv2zepite"
		},
		"azurebatchlinkedservice_accessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accessKey' of 'azurebatchlinkedservice'"
		},
		"blobreference_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'blobreference'"
		},
		"sqldbreference_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqldbreference'"
		},
		"clean_blob_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "Names.csv"
		},
		"clean_blob_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "clean"
		},
		"azurebatchlinkedservice_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "zepitebatchaccount"
		},
		"trigger1_properties_Pipeline_Custom_Activity_parameters_sourceFolder": {
			"type": "string",
			"defaultValue": "@triggerBody().folderPath"
		},
		"trigger1_properties_Pipeline_Custom_Activity_parameters_sourceFile": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"trigger1_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/66931c95-ffd8-4404-b255-46e831966611/resourceGroups/poc_user/providers/Microsoft.Storage/storageAccounts/zepitestorage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Latest_Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Activity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"FirstName": "FirstName",
									"LastName": "LastName",
									"FullName": "FullName",
									"ID": "ID"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "clean_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sqldest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/clean_blob')]",
				"[concat(variables('factoryId'), '/datasets/sqldest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_Custom_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ConsoleApp",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "\"TransformColimns.exe\"",
							"resourceLinkedService": {
								"referenceName": "blobreference",
								"type": "LinkedServiceReference"
							},
							"folderPath": "devcontainer/AppData",
							"extendedProperties": {
								"storageConnectionString": {
									"type": "String",
									"value": "DefaultEndpointsProtocol=https;AccountName=zepitestorage;AccountKey=IMr+GSBIR4BvgcLSdXncf08VjWWM0jEDZXrGftcdgoNdH5qfD5WVSfVI3H3Yry1ZljmHBsw6w7Gwlsjm77G0Hg==;EndpointSuffix=core.windows.net"
								},
								"sqlConnection": {
									"type": "String",
									"value": "Data Source=zepite.database.windows.net;Initial Catalog=zepite;User ID=admin123;Password=login@12345"
								},
								"rawFolder": {
									"value": "@pipeline().parameters.sourceFolder",
									"type": "Expression"
								},
								"fileName": {
									"value": "@pipeline().parameters.sourceFile",
									"type": "Expression"
								}
							},
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "azurebatchlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy_Blob_SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ConsoleApp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"FirstName": "FirstName",
									"LastName": "LastName",
									"FullName": "FullName",
									"ID": "ID"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "clean_blob",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "sqldest",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"sourceFolder": {
						"type": "String"
					},
					"sourceFile": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobreference')]",
				"[concat(variables('factoryId'), '/linkedServices/azurebatchlinkedservice')]",
				"[concat(variables('factoryId'), '/datasets/clean_blob')]",
				"[concat(variables('factoryId'), '/datasets/sqldest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clean_blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobreference",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlob",
				"structure": [
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('clean_blob_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('clean_blob_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobreference')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldbreference",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tbl_names]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldbreference')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azurebatchlinkedservice')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"accountName": "[parameters('azurebatchlinkedservice_properties_typeProperties_accountName')]",
					"accessKey": {
						"type": "SecureString",
						"value": "[parameters('azurebatchlinkedservice_accessKey')]"
					},
					"batchUri": "https://zepitebatchaccount.eastus.batch.azure.com",
					"poolName": "mypool",
					"linkedServiceName": {
						"referenceName": "blobreference",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobreference')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobreference')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('blobreference_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldbreference')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqldbreference_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Pipeline_Custom_Activity",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceFolder": "[parameters('trigger1_properties_Pipeline_Custom_Activity_parameters_sourceFolder')]",
							"sourceFile": "[parameters('trigger1_properties_Pipeline_Custom_Activity_parameters_sourceFile')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw/",
					"scope": "[parameters('trigger1_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pipeline_Custom_Activity')]"
			]
		}
	]
}