adfv2zepite/PartialArmTemplates/ArmTemplate_9_21_2018_17_53_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adfv2zepite"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline_Custom_Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ConsoleApp",
						"type": "Custom",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"command": "\"TransformColimns.exe\"",
							"resourceLinkedService": {
								"referenceName": "blobreference",
								"type": "LinkedServiceReference"
							},
							"folderPath": "devcontainer/AppData",
							"extendedProperties": {
								"storageConnectionString": {
									"type": "String",
									"value": "DefaultEndpointsProtocol=https;AccountName=zepitestorage;AccountKey=IMr+GSBIR4BvgcLSdXncf08VjWWM0jEDZXrGftcdgoNdH5qfD5WVSfVI3H3Yry1ZljmHBsw6w7Gwlsjm77G0Hg==;EndpointSuffix=core.windows.net"
								},
								"sqlConnection": {
									"type": "String",
									"value": "Data Source=zepite.database.windows.net;Initial Catalog=zepite;User ID=admin123;Password=login@12345"
								},
								"rawFolder": {
									"value": "@pipeline().parameters.sourceFolder",
									"type": "Expression"
								},
								"fileName": {
									"value": "@pipeline().parameters.sourceFile",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "azurebatchlinkedservice",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy_Blob_SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ConsoleApp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"FirstName": "FirstName",
									"LastName": "LastName",
									"FullName": "FullName",
									"ID": "ID"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "clean_blob",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "sqldest",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"sourceFolder": {
						"type": "String"
					},
					"sourceFile": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/clean_blob')]",
				"[concat(variables('factoryId'), '/datasets/sqldest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/clean_blob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobreference",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"structure": [
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					}
				],
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "Names.csv",
					"folderPath": "clean"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldbreference",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FullName",
						"type": "String"
					},
					{
						"name": "ID",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[tbl_names]')]"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Pipeline_Custom_Activity",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceFolder": "@triggerBody().folderPath",
							"sourceFile": "@triggerBody().fileName"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/raw/",
					"scope": "/subscriptions/66931c95-ffd8-4404-b255-46e831966611/resourceGroups/poc_user/providers/Microsoft.Storage/storageAccounts/zepitestorage",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pipeline_Custom_Activity')]"
			]
		}
	]
}